<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../reusables/layout'); %>
</head>

<body class="container">

    <header>
        <%- include('../reusables/menu'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 align="center">Bienvenu sur le site E-COM de LPRO D.A.S.I</h1>
            <p align="center">Vous pouvez acheter et vendre tout ce que vous voulez ici !</p>
            <br>
            <div>
                <p align="center"><img src="images/tof-ecommerce.jpg" alt="image-site-LPRO" width="600"></p>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../reusables/footer'); %>
    </footer>

</body>

</html>