<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../reusables/layout'); %>
</head>

<body class="container">

    <header>
        <%- include('../reusables/menu'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Espace d'achat</h1>
            <hr>
            <p>Vous pouvez achter tout ce que vous voulez ...</p>
        </div>
    </main>

    <footer>
        <%- include('../reusables/footer'); %>
    </footer>

</body>

</html>